# Basic Settings
# Documentation: http://krpano.com/tools/kmakemultires/config?version=119
# krpano 1.19


# image filtering and compression settings
filter=LANCZOS
jpegquality=82
jpegsubsamp=422
jpegoptimize=true


# color profile handling: skip, copy, convert or sRGB
profile=convert


# load gps exif information from the input files and transfer them to the xml
parsegps=true


# parse the input files for orientation / leveling information and either 
# directly remap the images or add a prealign setting in the xml to level them
autolevel=remap


# sort the input files alphabetically
sortinput=true


# protection settings (nomb = no Flashplayer menubar for standalone swf)
kprotectclparameters=-nomb
