# Flat/2D Multi-Resolution Panos
# Skin with Default Buttons
# Documentation: http://krpano.com/tools/kmakemultires/config?version=119
# krpano 1.19


# basic settings
include basicsettings.config
panotype=flat


# output
flash=true
html5=true


# convert spherical/cylindrical to cubical
converttocube=false


# multiresolution settings
multires=true
tilesize=512
levels=auto
levelstep=2
minsize=128
maxsize=auto


# output images path
tilepath=%INPUTPATH%/%BASENAME%/%BASENAME%.tiles/l%Al/%Av/l%Al_%Av_%Ah.jpg


# preview pano settings
preview=true
cspreview=false
graypreview=false
previewsmooth=25
previewpath=%INPUTPATH%/%BASENAME%/%BASENAME%.tiles/preview.jpg


# xml output
xml=true
xmlpath=%INPUTPATH%/%BASENAME%/pano.xml


# skin / xml template
xmltemplate=xml/flat.xml
xmltemplate_additional_file=xml/skin/defaultskin.xml
xmltemplate_additional_file=xml/skin/flatpano_setup.xml
xmltemplate_additional_file=xml/skin/buttons-2.png
xmltemplate_additional_file=xml/skin/qtvr-cursors.png
xmltemplate_additional_file=xml/skin/drag-cursors-2.png



# html output/template
html=true
htmlpath=%INPUTPATH%/%BASENAME%/index.html
htmltemplate=html/embedpano.html


# compression settings (note - no jpegoptimize for extreme big panos, this could cause too much memory usage during building)
jpegquality=82
jpegsubsamp=422
jpegoptimize=false


# include testing servers
htmltemplate_additional_file=html/tour_testingserver.exe
htmltemplate_additional_file=html/tour_testingserver_macos+x
