# Multi-Frame Multi-Resolution Panos
# Skin with Default Buttons
# Documentation: http://krpano.com/tools/kmakemultires/config?version=118
# krpano 1.18


# basic settings
include basicsettings.config
frames=true
panotype=auto


# output (no multiframe-support in html5 yet)
flash=true
html5=false


# convert spherical/cylindrical to cubical
converttocube=true
converttocubelimit=360x120


# multiresolution settings
multires=true
tilesize=512
levels=auto
levelstep=2
minsize=128
maxsize=auto
progressiveloading=auto


# output images path
tilepath=%INPUTPATH%/%BASENAME%.tiles/%Af/l%Al/[c_]%Av_%Ah.jpg


# preview pano settings (no preview image for multi-frame!)
preview=false


# xml output
xml=true
xmlpath=%INPUTPATH%/%BASENAME%.xml


# skin / xml template
xmltemplate=xml/multiframe.xml
xmltemplate_additional_file=xml/skin/multiframeskin.xml
xmltemplate_additional_file=xml/skin/black.png
xmltemplate_additional_file=xml/skin/arrow.png


# html output/template
html=true
htmlpath=%INPUTPATH%/%BASENAME%.html
htmltemplate=html/embedpano.html
