/* add css styles here (optional) */

.krpano {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
}

.krpano-core {
  height: 100%;
  width: 100%;
}

.krpano-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 2;
}

.krpano-loading span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 12px;
  transform: translate(-50%, -50%);
  color: #666666;
  /*background-image: url('https://cdn.dribbble.com/users/722246/screenshots/4723489/category-loading.gif');*/
  /*background-size: contain;*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*padding: 150px 0;*/
}

.krpano-panel {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 15px;
}

.krpano-panel-groy {
  transition: .3s ease;
  height: 25px;
  width: 25px;
  display: inline-block;
  background-image: url('krpano/style/plugins/groy_close.png');
  background-size: contain;
  background-position: center;
  transform-origin: center;
  transform: rotate(90deg);
  opacity: .5;
}

.krpano-panel-groy.act {
  opacity: .7;
  transform: rotate(0deg);
  background-image: url('krpano/style/plugins/groy.png');
}

.devTools {
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.devTools:before, .devTools:after {
  content: '';
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 0;
  height: 1px;
  width: 100%;
  background: #ffffff33;
}

.devTools:after {
  top: 0;
  left: 50%;
  height: 100%;
  width: 1px;
}
.devTools button{
  margin-right: 3px;
}
.devTools_label {
  padding-left: 10px;
  font-size: 12px;
  color: #ffffffaa;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: 0.7s ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: 0.7s ease;
}

