# Single SWF File Panos (Normal/Single-Resolution)
# Skin with Default Buttons
# Documentation: http://krpano.com/tools/kmakemultires/config?version=118
# krpano 1.18


# basic settings
include basicsettings.config
panotype=autodetect
hfov=360
buildembeddedswf=true
embedorderlookat=0/0
kprotectclparameters=-nomb -swfsize=900x600


# outpuf (single-swf is flash only)
flash=true
html5=false


# convert spherical/cylindrical to cubical
converttocube=true
converttocubelimit=360x45


# multiresolution settings
multires=false
maxsize=8000
maxcubesize=2200


# output images path (no folders for single-swf!)
tilepath=%INPUTPATH%/%BASENAME%_tiles_l%Al[_c].jpg


# preview pano settings (no folders for single-swf!)
preview=true
graypreview=false
previewsmooth=25
previewpath=%INPUTPATH%/%BASENAME%_preview.jpg


# xml output
xml=true
xmlpath=%INPUTPATH%/%BASENAME%.xml


# skin / xml template
include defaultbuttons.skin


# html output/template
html=true
htmlpath=%INPUTPATH%/%BASENAME%.html
htmltemplate=html/embedpano-inline-js-singleswf.html
